streamlit
python-dotenv
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.60
langchain-experimental==0.3.4
langchain-google-genai==2.0.10
langchain-text-splitters==0.3.8
faiss-cpu
pypdf
